body {
    background: linear-gradient(to bottom, #01C38D, #191E29);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

h1, h2, p {
    text-align: center;
    color: white;
}

div {
    margin: 0 auto;
    width: 50%;
}

a {
    color: #191E29;
}

#github {
    color: #01C38D;
}

section {
    margin: 70px;
}

table {
    margin: 0 auto;
    width: 650px;
    color: #ffffffde;
}

thead {
    text-align: center;
    background-color: #132d467c;

}

td {
    border-top: 1px solid #132d467c;
    padding: 7px;
}